a {
    text-decoration: none;
}

button {
    background: #3b60e4;
    color: #f8f7ff;
    text-decoration: none;
    padding: .5em 1em;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
    float: right;
    margin-right: 20%;
    margin-top: 1%;
}

button:hover {
    background: #7765e3;
}

path:hover {
    background: #7765e3;
}

.swal-button {
    background: #7765e3;

}

.swal-button:hover {
    background: #3b60e4;
}

.swal-overlay {
    background: rgba(119, 101, 227, .8);
}